$clr-gray: rgba($color: #485666, $alpha: 1.0);
$clr-lightgray: rgba($color: #6a7583, $alpha: 1.0);
$clr-manager: rgb(47, 59, 235);
$clr-engineer: rgb(93, 158, 93);
$clr-intern: rgb(198, 206, 130);

body {
    background-color: $clr-lightgray;
    h1 {
        font-size: 500%;
        color: white;
    }
}

@mixin employee-colors($clr) {
    box-shadow: darken($clr, 20) 4px 4px 20px -5px;
    border: 2px solid black;
    border-radius: 5px;

    .card-header {
        background-color: lighten($color: $clr, $amount: 30);
        border: $clr outset 2px;
    }

    .card-body {
        background-color: lightgray;
    }
}

.jumbotron {
    background-color: $clr-gray;
}

.card {
    margin: 10px;
}

.intern-card {
    @include employee-colors($clr-intern);
}

.engineer-card {
    @include employee-colors($clr-engineer);
}

.manager-card {
    @include employee-colors($clr-manager);
}